
body{
	background-color: #3399ff;

}
.row{
	    margin: 35px 0px;
}
p{
	color: white;
	line-height: 42px;
}
.icon{
	width: 120px;
	height: 120px;
	margin:15px 0px;
}
.image{
	width: 400px;
	height: 500px;
}
h2{
	color: white;
}
.apps{
	width: 148px;
    height: 42px;
    padding-right: 5px;
}
.submit{
	border-radius: 4px;
	background-color: black;
	color: white;
	width: 123px;
	
}
input{

    padding-left: 49px;
    border-radius: 6px;
    width: 253px;
    height: 36px;
}
li{
	display: inline;
	padding: 10px;
	color: white;
}
.foot{
	position: relative;
	top: 0px;
	left: 357px;
}
.social_media{
	margin: 10px 0px;
}
.icon_size{
	width: 40px;
	height: 40px;

}
.social_icon_grp li{
		padding: 3px;
}
.social_icon_grp {
	position: relative;
    top: 0px;
    right: 655px;
}